<!DOCTYPE html>
<html lang="pt-br">
<% include partials/head %>
<body>
    <div class="container">
        <% include partials/header %>
        <% include partials/nav %>
        <!-- hi, i'm waiting a contact.. -->
        <% contact.name %>
        
        <form class="container" action="/updateById/:id<%= contact._id %>" method="POST">
            <h2>Form</h2>
            
            <input value="<%= contact._id %>" type="hidden" name="_id" id="_id">
            <div class="form-group">
                <label for="name">Name</label>
                <input value="<%= contact.name %>" class="form-control" type="text" name="name" id="name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input value="<%= contact.email %>" class="form-control" type="email" name="email" id="email" >
                <small class="form-text">example@example.com</small>
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select name="gender" class="form-control" id="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input value="<%= contact.phone %>" class="form-control" type="text" name="phone" id="phone">
            </div>
            
            <div class="row">
                <div class="offset-5 col-4">
                    <td>
                        <a href="/updateById/<%=contact._id %>"><button class="btn btn-primary">Update</button></a>
                    </td>
                    <td>
                        <button class="btn btn-warning" type="reset" >Clear</button>
                    </td>
                </div>
            </div>
        </form>
        
        <% include partials/footer %>
    </div>
</body>
</html>